* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

input,
select {
  border: none;
  outline: none;
  background-color: rgb(249, 249, 249, 0);
}

option {
  height: 100px;
}

.content {
  display: flex;
}

.leftImage {
  width: 375px;
  height: 975px;
}

.leftImage_con {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-image: url("/register/1.jpg");
}

.contain {
  flex: 1;
}

.contain_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.contain_title {
  line-height: 40px;
  font-size: 25px;
}

.contain_logo {
  display: flex;
  float: left;
  line-height: 40px;
}

.contain_logo svg {
  width: 55px;
  height: 40px;
}

.contain_nav {
  height: 100%;
  display: flex;
  column-gap: 20px;
  font-size: 14px;
  font-weight: lighter;
  align-items: center;
}

.contain_nav a {
  height: 40px;
  line-height: 40px;
}

.contain_nav a:hover {
  color: #fe7945;
}

.mi-nav__divider {
  height: 20px;
  border-left: 1px solid;
  border-color: rgb(1, 1, 1, 0.1);
}

.mi-nav__item {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 0 5px;
  cursor: pointer;
}

.mi-nav_simple {
  display: flex;
}

.mi-nav__item svg:nth-child(2) {
  display: none;
}

.mi-nav__item svg:first-child,
.mi-nav__item svg:nth-child(2) {
  height: 18px;
  width: 18px;
  transform: rotate(180deg);
}

.mi-nav_drop {
  display: none;
  position: absolute;
  top: 60px;
}

.mi-nav_drop_ul {
  box-shadow: -1px -1px 15px 1px rgb(1, 1, 1, 0.1),
    1px 1px 15px 1px rgb(1, 1, 1, 0.1);
}

.mi-nav_drop_ul_li {
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.mi-nav_drop_ul_li:hover {
  background-color: #eeeeee;
}

.mi_container {
  padding-top: 100px;
  text-align: center;
}

.mi-register_card {
  width: 450px;
  height: 650px;
  display: inline-block;
  position: relative;
  margin: 0 auto 80px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 20px 50px 0 rgb(1, 1, 1, 0.3);
  overflow: hidden;
}
.ant-tab_input_item{
  width: 100%;
}
.ant-tab {
  width: 100%;
  height: 100%;
}

.ant-tab_title {
  height: 40px;
  width: 100%;
  font-size: 24px;
  line-height: 40px;
  text-align: left;
}

.mi-register_card_item {
  display: flex;
  position: absolute;
  column-gap: 50px;
}

.mi-register_card_item0 {
  width: 450px;
  flex: 0;
}

.mi-register_card_item1 {
  flex: 1;
}
.ant-tab-login_Id,
.ant-tab-login_pwd{
  width: 100%;
}
.ant-tab-login_Id_input {
  /* font-size: 16px; */
}

.ant-tab_bar {
  width: 48px;
  position: absolute;
}

.ant-tab_input {
  width: 100%;
  height: 90%;
  text-align: left;
}

.ant-tab_input-bgc {
  margin-top: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  height: 60px;
  width: 360px;
  font-size: 12px;
  font-weight: lighter;
  position: relative;
}

#checkBox {
  width: 360px;
  height: 40px;
}

.ant-tab_input-phone,
.ant-tab_input-code,
.ant-tab-login_Id,
.ant-tab-login_pwd {
  display: flex;
  column-gap: 20px;
  font-weight: lighter;
  align-items: center;
}

.ant-tab_input-phone p {
  line-height: 30px;
}

.ant-tab_input-phone,
.ant-tab_input-code {
  line-height: 60px;
}

.ant-tab_input-phone-title {
  width: 60px;
  text-align: center;
}

.ant-tab_input-getcode {
  width: 80px;
  text-align: center;
}

.placeholder {
  position: absolute;
  left: 0;
  font-size: 16px;
  font-weight: lighter;
  cursor: text;
  user-select: none;
}

.ant-tab_input-code-input,
.ant-tab_input-phone-input,
.ant-tab_input-Id-input,
.shurumima {
  flex: 1;
  position: relative;
}


.ant-tab_input-code-input input,
.ant-tab_input-phone-input input {
  padding: 20px;
  width: 100%;
  font-size: 16px;
  z-index: 3;
}

.ant-tab_codeTip,
.ant-tab_checkbox {
  height: 60px;
  line-height: 60px;
}

.ant-tab_codeTip a,
.ant-tab_input-getcode a {
  color: #fe7945;
}

.ant-tab_bnt button {
  background-color: #ffc8a5;
  border: none;
  border-radius: 5px;
  height: 60px;
  color: #fff;
  font-size: 20px;
}

.ant-tab_checkbox,
.ant-tab_bnt,
.ant-tab_codeTip {
  height: 10%;
}



.ant-tab_bnt-btn {
  height: 40px;
  width: 100%;
}

.ant-tab_anotherWay {
  text-align: center;
}

.ant-tab_anotherWay-item {
  display: flex;
  column-gap: 20px;
  justify-content: center;
}

.ant-tab_anotherWay-item-size svg {
  width: 40px;
  height: 100px;
}

.mi-register_code {
  width: 80px;
  height: 80px;
  background-color: #fe7945;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  opacity: 0.5;
  cursor: pointer;
}

.mi-register_code::before {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 80px solid #fff;
  border-top: 80px solid transparent;
  border-right: 0px solid transparent;
  position: absolute;
}

.mi-register_code svg {
  width: 50px;
  height: 50px;
}

.mi-register_code:hover {
  transition: 0.5s;
  opacity: 1;
}

.tankuang {
  position: absolute;
  width: 0px;
  height: 0px;
  right: 80px;
  background-color: #fe7945;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  color: #fff;
}

.tankuang::after {
  content: "";
  position: absolute;
  background-color: #fe7945;
  width: 10px;
  height: 10px;
  right: -12%;
  top: 20%;
  transform: translate(-50%, 50%) rotate(45deg);
}