* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

#lunbotu1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#lunbotu2 {
    width: 500%;
    height: 100%;
    overflow: hidden;
}


#lunbotu2 li {
    width: 20%;
    float: left;
}

#lunbotu2 img {
    width: 100%;
    height: 100%;
}

.prev,
.next {
    position: absolute;
    height: 800px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 50%;
    transform: translate(0%, -50%);
}

.prev::before,
.next::before {
    content: '';
    border-top: 5px solid #000;
    border-left: 5px solid #000;
    width: 28px;
    height: 28px;
}

.prev::before {
    transform: rotate(-45deg);
}

.next::before {
    transform: rotate(135deg);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.num-box {
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%, 0);
    z-index: 2;
}

.num-ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.num-ul li {
    height: 3px;
    width: 150px;
    /* border-radius: 50%; */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.num-ul li:first-child {
    background-color: #ff6900;
}